@page "/timer"

<PageTitle>Countdown Timer</PageTitle>
<h2 class="h2"> Clock </h2>
<div class="container">
    <label for="minutes">Enter Time (in minutes):</label>
    <input id="minutes" @bind="inputMinutes" />

    <button class="btn btn-outline-primary" @onclick="() => StartTimer(inputMinutes)">Start Timer</button>

    <p><strong> Time Remaining (in minutes): @remainingTime minutes</strong> </p>
</div>

@if (isTimerActive)
{
    <img src="images/clock.jpeg" asp-append-version="true" alt="Timer" />
} else
{
    <p class="ms-2"><strong>Timer is not active</strong></p>
}

@code {
    private System.Timers.Timer aTimer;
    private int inputMinutes;
    private int initialTime;
    private int remainingTime;



private bool isTimerActive => aTimer != null && aTimer.Enabled; 
    
    private void StartTimer(int initialTimeInMinutes)
    {
        inputMinutes = initialTimeInMinutes;
        initialTime = inputMinutes;
        remainingTime = inputMinutes;

        // Convert minutes to milliseconds
        int interval = initialTimeInMinutes * 60 * 1000;

        aTimer = new System.Timers.Timer(interval);
        aTimer.Elapsed += CountDownTimer;
        aTimer.Enabled = true;
    }

    private void CountDownTimer(object sender, System.Timers.ElapsedEventArgs e)
    {
        if (remainingTime > 0)
        {
            remainingTime--;
            StateHasChanged(); // Trigger a re-render
        }
        else
        {
            aTimer.Enabled = false;
            // Optionally perform any actions when the timer reaches zero
        }
    }

}

